/* Our CSS file. */


#container {
width: 100%;
height: 100%;
display: block;
}
.row1{
    display: inline-block;
    width: 100%;
    height: 50%;
    margin: 10px;
    background-color: #f2f2f2;
}
.inline{
    display: block;
    width: 48%;
    height: 300px;
    margin: 10px;
    float: left;
}
#render-wiki{
    display: block;
    border: 0;
    width: 600px;
    height: inherit;
}
.block{
    display: block;
    width: 100%;
    height: 200px;
    margin: 10px;
    text-align: center;
}
#render-dictionary{
    border: 0;
    width: 900px;
    height: inherit;
}
button{
    padding: 20px;
    background-color: black;
    color: white;
}